<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        
        <form method="POST">
            <label>Username: </label>
            <input type="text" name="username">
            <br>
            <label>Email(Optional): </label>
            <input type="email" name="email">
            <label>Reg Key(Optional): </label>
            <input type="text" name="reg_key">
            <br><br>
            <input type="submit" value="Login">
        </form>
</body>
</html>
